<div class="flexbox-container">



  <app-heat-map
    [data]="heatData"
    [colors]="pieColors"
  ></app-heat-map>

  <app-heat-map
  [data]="heatData2"
  [dataType]="dataType"
  [colors]="pieColors"
  [propID]="heatPropID"
  [xAxisAngle]="xAxisAngle"
></app-heat-map>

  <!-- <app-bar-chart
    [data]="barData"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [propID]="barPropID"
    [color]="barColor"
    [title]="barTitle"
    [xAxisAngle]="axisAngle"
    [yAxisAngle]="axisAngle"
  >
  </app-bar-chart>

  <app-bubble-chart
    [data]="bubbleData"
    [propID]="bubblePropID"
    [title]="bubbleTitle"
    [isTime]="falseVar"
    [isDate]="falseVar"
    [themeColors]="bubbleColors"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  ></app-bubble-chart>

  <app-line-plot
    [data]="lineData"
    [propID]="linePropID"
    [title]="lineTitle"
    [color]="lineColor"
    [xAxisLabel]="xAxisLabelDate"
    [yAxisLabel]="yAxisLabel"
  ></app-line-plot>

  <app-pie-chart
    [data]="pieData"
    [donutWidth]="donutWidth"
    [propID]="piePropID"
    [colors]="pieColors"
    [title]="pieTitle"
  ></app-pie-chart>

  <app-punch-card
    [data]="punchData"
    [propID]="punchPropID"
    [colors]="punchColors"
    [title]="punchTitle"
    [axisColors]="axisColor"
  ></app-punch-card>

  <app-sunburst
    [data]="sunburstData"
    [propID]="sunburstPropID"
    [title]="sunburstTitle"
  ></app-sunburst> -->

</div>
